SpeechRecognition
google-cloud-speech
# for linux / debian, install pyaudio with the following command:
# sudo apt-get install python-pyaudio python3-pyaudio
# for macOS: brew install portaudio
pyaudio
# m1 mac solution for install issues for pyaudio:
# https://stackoverflow.com/a/73166852
pyttsx3 # text to speech
transformers==2.1.0
snscrape
pandas
google-search-results
