.App {
  text-align: center;
  margin: 0 auto;
  margin-top: 15%;
  color: white;
  width: 50%;
}

#title {
  display: flex;
  flex-direction: horizontal;
  margin: 0 auto;
  width: 40%;
  margin-bottom: -50px;
}

#logo {
  height: 100px;
  width: 75px;
  margin-top: 40px;
}

h1 {
  font-size: 72px;
}

h3 {
  font-size: 16px;
  margin-bottom: 25px;
}

#search-bar-section {
  display: flex;
  flex-direction: horizontal;
  margin: 0 auto;
}

#search-bar {
  background-color: #3b3b3b;
  border: none;
  width: 90%;
  height: 50px;
  margin: 0 auto;
  border-radius: 5px;
  color: rgb(230, 230, 230);
  font-size: 18px;
  padding: 0px 0px 0px 15px;
  box-shadow:  16px 16px 48px #161616,
  -16px -16px 48px #424242;
}

#search-bar:hover {
  transition: all 0.5s;
  cursor: pointer;
  background-color: rgb(65, 64, 64);
  box-shadow:  24px 24px 48px #202020,
  -24px -24px 48px #424242;
}

#mic-button {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: -1px 9px 8px 3px rgba(25,25,25,0.75);
}

#mic-button:hover {
  transition: all .5s;
  cursor: pointer;
  background-color: rgb(247, 188, 188);
  box-shadow: -1px 9px 8px 3px rgba(46, 46, 46, 0.75);

}

#mic-button:active {
  transition: all .5s;
  background-color: rgb(245, 83, 83);
  box-shadow: -1px 18px 57px -23px rgba(176,174,174,0.75);
  -webkit-box-shadow: -1px 18px 57px -23px rgba(176,174,174,0.75);
  -moz-box-shadow: -1px 18px 57px -23px rgba(176,174,174,0.75);
}

#mic-img {
  height: 35px;
  width: 35px;
  padding-top: 7.5px;
}

#submit-button {
  height: 50px;
  width: 120px;
  color: #2C2C2C;
  background-color: rgb(224, 224, 224);
  margin-top: 25px;
  border: none;
  border-radius: 15px;
  box-shadow:  17px 17px 46px #121212,
  -17px -17px 46px #464646;
  font-size: 18px;
  font-weight: bold;
}

#submit-button:hover {
  transition: all 0.25s; 
  cursor: pointer;
  background-color: rgb(196, 196, 196);
  width: 125px;
  height: 55px;
  box-shadow:  17px 17px 46px #242424,
  -17px -17px 46px #464646;
}

#submit-button:active {
  background-color: rgb(119, 119, 119);

}

#responseDiv {
  margin: 0 auto;
  margin-top: 35px;
  width: 95%;
  background-color: #296996;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  min-height: 50px;
  text-align: center;
  box-shadow: 1px 7px 12px 0px rgba(28,28,28,0.75);
  -webkit-box-shadow: 1px 7px 12px 0px rgba(28,28,28,0.75);
  -moz-box-shadow: 1px 7px 12px 0px rgba(28,28,28,0.75);
}

#response {
  line-height: 50px;
}